//user styles
.dialog-container-user {
	-fx-background-color: #fff;
}

.dialog-label-user {
	-fx-font-size: 14px;
	-fx-padding: 0px 12px;
}

//duke styles
.dialog-container-duke {
	-fx-background-color: #0066e3;
}

.dialog-label-duke {
    -fx-padding: 0px 12px;
    -fx-font-size: 14px;
    -fx-color: #fff;
}

//generic styles
.dialog-image {
	-fx-padding: 12px;
}
